*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.admin_header {
    height: 80px;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
}
.admin_img {
    font-size: 17px;
    color: #fff;
}
.admin_img>i{
    margin-right: 5px;
    
}

.admin_account {
    text-decoration: none;
    color: #fff;
    font-size: 17px;
}
.admin_account>i{
    margin-left: 5px;
    color: red;
}
.admin_select {
    height: 40vh;
    margin-top: 200px;
    display: flex;
    flex-wrap: wrap;
    

}
.admin_items {
    flex: 0 0 33%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    list-style-type: none;
    height: 70%;

}

.admin_box {
    background-color: #fff;
    width: 50%;
    height: 82%;
    flex: 0 0 60%;
    border: 1px solid #555;
    border-radius:  10px;
    /* display: flex;
    justify-content: center;
    align-items: center;*/
    text-decoration: none;
    background-color: rgba(33, 32, 32, 0.8);
    color: #fff;
}
.admin_box i {
    display: block;
    /* text-align: center; */
    font-size: 25px;
    margin: 20px 0 10px 20px;
    
}
.admin_box .a{
    text-align: center;
    margin-top: 30px;
    font-size: 17px;
}



